doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(method='POST', action='audio/upload', enctype="multipart/form-data")
      input(type='file' name='audioFile')
      input(type='submit')
